#alldata{
  margin-left: auto;
  margin-right: auto;
  width: 347px;
  background-color:rgb(190, 186, 186);
  border-radius: 5px;
  padding: 2px;
}

form{
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

input{
  width: 350px;
  padding: 8px;
  border-radius: 5px;
}

#outerdata > p{
  margin-top: 150px;
  text-align: center;
  font-size: xx-large;
}

#eachitem{
  margin: 2px 4px 4px 4px;
  padding: 5px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

#eachitem > div:first-child{
  font-size: x-large;
}

#btn1{
  border: 1px solid rgb(20, 20, 20);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

#btn2{
  margin-left: 5px;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

button:hover{
  background-color: rgb(20, 20, 20);
  color: whitesmoke;
}
